<template>
  <label class="input" for="">
    <input
      class="input_write"
      type="text"
      v-model="input"
      :placeholder="props.placeholder"
    />
  </label>
</template>

<script setup lang="ts">
interface Props {
  modelValue: string
  placeholder: string
}
const props = defineProps<Props>()
const emit = defineEmits(['update:modelValue'])

const input = computed({
  get: () => {
    return props.modelValue
  },
  set: (newVal) => {
    emit('update:modelValue', newVal)
  },
})
</script>

<style lang="sass">
.input
  &_write
    border: 1px solid #DCDFE6
    border-radius: 4px
    padding: 5px 12px
</style>
