<template>
  <div>
    <div class="todo_create">
      <custom-input v-model="todoValue" placeholder="Add new task" />
      <button class="button__add" @click="createTask">Add</button>
    </div>
    <div>
      <template v-if="cards.length > 0">
        <todo-card v-for="card in cards" :key="card.value" :card="card" />
      </template>
    </div>
  </div>
</template>

<script setup lang="ts">
import { useCardsStore } from '~/store/todo-cards-store'

const todoValue = ref('')
const cardsStore = useCardsStore()
const { cards } = storeToRefs(cardsStore)

const createTask = () => {
  if (todoValue.value) {
    cardsStore.createTask(todoValue.value)
    todoValue.value = ''
    return;
  }
}
</script>

<style lang="sass">
.button__add
  background: #409EFF
  border: none
  border-radius: 4px
  font-weight: 500
  color: white
  cursor: pointer
  padding: 0 16px

.todo_create
  display: flex
  justify-content: space-between
  gap: 10px
</style>
