<template>
  <div class="card" :class="[props.card.status === Status.done ? 'card__done' : '']">
    <p class="card_title">
      {{ props.card.value }}
      <DoneIcon v-if="props.card.status === Status.done" />
    </p>

    <div class="card_actions" v-if="props.card.status === Status.created">
      <button class="card_actions_btn card_actions__done" @click="DoneTask">
        <DoneIcon />
      </button>
      <button class="card_actions_btn card_actions__remove" @click="deleteTask">
        <DeleteIcon />
      </button>
    </div>
  </div>
</template>

<script setup lang="ts">
import DoneIcon from '~/assets/icons/done.svg'
import DeleteIcon from '~/assets/icons/delete.svg'
import { type Card, Status } from '~/types'
import { useCardsStore } from '~/store/todo-cards-store'

interface Props {
  card: Card
}

const props = defineProps<Props>()
const cardsStore = useCardsStore()
const DoneTask = () => {
  cardsStore.checkTask(props.card)
}
const deleteTask = () => {
  cardsStore.deleteTask(props.card)
}
</script>

<style lang="sass">
.card
  display: flex
  justify-content: space-between
  gap: 20px

  &_actions
    display: flex
    align-items: center
    gap: 8px

    &_btn
      width: 32px
      height: 32px
      border: none
      border-radius: 50%
      cursor: pointer
      display: flex
      align-items: center
      justify-content: center
      fill: white

    &__done
      background: #67C23A

    &__remove
      background: #F56C6C
  &_title
    font-size: 16px
    border: 1px solid #E4E7ED
    padding: 20px
    flex-grow: 1
    border-radius: 4px
    & svg
      margin-left: 51px
  &__done
    color: #303133
</style>
